html {
    background-color: #E2E2E2;
}

body {
    max-width: 900px;
    margin: 0 auto;
}

header {
    text-align: center;
    background-color: #575757;
    /*border-radius: 0 0 10px 10px;*/
    color: #E2E2E2;
    /*padding: 1em;*/
}
h1 {
    margin-bottom: 0.25em;
}
header > span {
    font-size: medium;
    color:  #575757;
}

main {

}
section {
    background-color:#E2E2E2;
    font-family: 'Cormorant Garamond';
}

h3 {
    margin: 0;
    font-family: 'PT Serif';
    padding: 10px;
    /* text-align: center; */
    background: #575757;
    color: #E2E2E2;
}

footer {
    text-align: center;
    background-color: #575757;
    border-radius: 10px 10px 0 0;
    padding: 1em;
    color: #E2E2E2;
}

.footerhref {
    color: #E2E2E2;
}

#lst-updt {
    padding-top: 5px;
    display: block;
    font-size: small;
    color: #E2E2E2;
}

header,
footer {

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

}

nav {
    background-color: #575757;
    text-align: center;
    box-shadow: 0 5px 15px #575757;
    
    
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

nav ul li a {
    display: block;
    color: #E2E2E2;
    text-align: center;
    padding: 0.70rem;
    text-decoration: none;
    font-size: 1rem;
}


nav a:hover {
    background-color: #E2E2E2;

    color: #575757;
}

nav ul li {
    flex: 1 1 100%;
}