h1 {text-align: center;}
h2 {text-align: center;}
p {text-align: center; }
div {text-align: center;}
button {text-align: center;}
body {background-color:#D4DEF1;}
img {align-items: center;}
ul {align-items: center;}
li {align-items: center;}
h2 { font-family: 'Cormorant Garamond'; }
h1 { font-family: 'Faustina'; }
h3 { font-family: 'PT Serif'; }
p  { font-family: 'Cormorant Garamond', 'Faustina', 'PT Serif'; }
table { font-family: 'Cormorant Garamond', 'Faustina', 'PT Serif'; }