:root {
    --primary-bg: #f2f2f2;
    --rimary-fg:/* rgb(73, 103, 44)*/;
    --secondary-fg:/* rgb(66, 97, 135)*/;
    --secondary-bg:/* rgb(253, 253, 239)*/;
    --pop-color:/* rgb(166,99,23)*/;
    --menu-bg:/* rgba(211,227,250,.9)*/;
    --white-bump:/* rgba(255,255,255,.2)*/;
    --drop-shadows:/* rgba(0,0,0, .2)*/;
    --body-font:/* 'Open Sans', sans-serif*/;
    --heading-font:/*'Oswald', sans-serif*/; 
    --maxWidth: 500px; 
}


html {
    background-color: #f2f2f2;
    margin: 0px;
    padding: 0px;
}

body {
    max-width: var(--maxWidth);
    margin: 0 auto;
}

header {
    text-align: center;
    background-color: #575757;
     color: #f2f2f2;
}

header div#current-date {
    text-align: center;
    filter: hue-rotate(-90deg);
    font-size: 1em;
}

h1 {
    margin-bottom: 0.25em;
}
header > span {
    font-size: medium;
    color:  #575757;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    width: 95%;
    margin: 20px auto;
}
section {
    border-radius: 2px;
    background-color:#f2f2f2
    border: solid 1px black;
    overflow: hidden;
    font-family: 'Cormorant Garamond';
}



h3 {
    margin: 0;
    font-family: 'PT Serif';
    padding: 10px;
    background: #575757;
    color: #f2f2f2;
}

footer {
    text-align: center;
    background-color: #575757;
    border-radius: 10px 10px 0 0;
    padding: 1em;
    color: #f2f2f2;
}

.footerhref {
    color: #f2f2f2;
}

#lst-updt {
    padding-top: 5px;
    display: block;
    font-size: small;
    color: #f2f2f2;
}

header,
footer {

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

}

nav {
    background-color: #575757;
    text-align: center;
    box-shadow: 0 5px 15px #575757;    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

nav ul li a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0.70rem;
    text-decoration: none;
    font-size: 1rem;
}


nav a:hover {
    background-color: #f2f2f2;
    color: #575757;
}

nav ul li {
    flex: 1 1 100%;
}

.example1 a:hover {
    background-color: #f2f2f2;
    color: #575757;
}

nav a {
    font-size: 20px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

table.center {
    width:80%; 
    margin-left:10%; 
    margin-right:10%;
  }

section.heading {
    text-align: center;
}

.sample1 {
    font-family: 'Faustina', sans-serif;
    background-color: #575757;
    color: #f2f2f2;
    font-size: 30px;
}

.sample2 {
    font-family: 'Faustina', sans-serif;
    background-color: #575757;
    color: #f2f2f2;
    font-size: 20px;
}

.sample3 {
    font-family: 'Faustina', sans-serif;
    background-color: #f2f2f2;
    color: #575757;
    font-size: 30px;
}

.sample4 {
    font-family: 'Cormorant Garamond', sans-serif;
    background-color: #f2f2f2;
    color: #575757;
    font-size: 25px;
}

.sample5 {
    font-family: 'PT Serifc', sans-serif;
    background-color: #f2f2f2;
    color: #575757;
    font-size: 20px;
}

.sample6 {
    font-family: 'Faustina', sans-serif;
    background-color: #f2f2f2;
    color: #575757;
    font-size: 18px;
}

.sample7 {
    font-family: 'Cormorant Garamond', sans-serif;
    background-color: #f2f2f2;
    color: #575757;
    font-size: 18px;
}

.sample9 {
    font-family: 'Faustina', sans-serif;
    background-color: #575757;
    color: #f2f2f2;
    
}

.sample8 {
    font-family: 'Cormorant Garamond', sans-serif;
    background-color: #f2f2f2;
    color: #575757;
    
}